---
import { sanityClient } from "sanity:client";

const posts = await sanityClient.fetch(`
  *[_type == "post"] {
    title,
    slug,
    body
  }
`);

console.log(posts);

---

<h1 class="text-4xl font-bold mb-8 text-gray-800">Blog test</h1>
<ul class="space-y-6">
  {posts.map((post) => (
    <li class="border-b border-gray-200 pb-6">
      <h2 class="text-2xl font-semibold mb-2">
        <a href={`/portfolio/${post.slug.current}`} class="text-blue-600 hover:text-blue-800 transition-colors">
          {post.title}
        </a>
      </h2>
      <p class="text-gray-600 leading-relaxed">{post.body}</p>
    </li>
  ))}
</ul>